<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Le styles -->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.mobile-1.3.1.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="lib/jquery-1.9.1.min.js"></script>


</head>
  <script type="text/javascript">

    $(document).bind("mobileinit", function(){
      $.mobile.ajaxEnabled = false;
      $.mobile.linkBindingEnabled = false; 
      $.mobile.hashListeningEnabled = false; 
      $.mobile.pushStateEnabled = false; 
      $.mobile.changePage.defaults.changeHash = false;         
    });

   </script>

    <script src="lib/jquery.mobile-1.3.1.min.js"></script>
<body >


{{{body}}}

    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/handlebars_1.0.js"></script>
   
        
    <script src="js/models.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/views.js"></script>  
    <script src="js/routers.js"></script>
    <script src="js/controller.js"></script>

<script>
  
  
  Backbone.history.start();
</script>


</body>
</html>
