extends layout

block content
    p #{error}

form(action='/signup', method='post')
    div
        label
            Name:
        input(type='text', name='username')
    div
        label
            Highscore:
        input(type='text', name='highscore')
    input(type='submit', value='Add Highscore')

