body{
    text-decoration: none;
    background-color: #f4f4f4;
}
a{
    text-decoration: none
}


a:hover {
    color: #333;
    text-decoration: none;
}


.center {
    margin-left: auto;
    width: 50%;
    margin-right: auto;
    text-align: center;
}

.xin {
    text-align: left;
}

.letter {
	color: red;
	font-size:16pt;
}

.score {
	color: blue;
	font-style: bold;
	font-size: 14pt;
}

.fontsize14{
	font-size: 14pt;
}
.navbar-fixed-top .navbar .navbar-inner .brand{
    text-align: center;
    margin:auto;
    float:none;
    font-size: 20pt;
    color:#f4f4f4;
}
.navbar-inner {
  background-color: #4164a9; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
/*
.navbar .brand{  

}

        margin:auto;  
    margin-left: auto;
    margin-right: auto;*/